
body
	{
		background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
		font-family: 'Montserrat', sans-serif;
    font-weight: 400;
	}

@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

.mt20 {
	margin-top: 20px;
}

.mt30 {
	margin-top: 30px;
}

/* heading section */
h1,h2,h3,h4 {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

h1,h2 {
  font-size: 30px;
}


img {
  max-width: 100%;
  height: auto;
}

/* button section */
.btn {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 0px;
  box-shadow: none;
  color: #fff;
  padding: 12px 18px;
  font-size: 13px;
  font-weight: bold;
  transition: all 0.4s ease-in;
}
.btn:hover {
  background:  #7BCCB5;
  border-color: transparent;
}

.email {
	margin-top: 10px;
	padding: 8px 12px;
}

/* navigation */

.navbar-default {
    background: rgb(255, 255, 255);
    border: none;
    border-left: 6px solid #d54ab6;
    padding-right: 40px;
    margin: 0 !important;
    position: relative;
    top: 20px;
  }
.navbar-default .navbar-brand {
    font-size: 40px;
    line-height: 40px;
    padding-top: 4px;
   }
.navbar-default .navbar-nav li a {
  color: #f2f2f2;
  font-size: 13px;
  font-weight: 400;
  line-height: 40px;
  transition: all 0.4s ease-in;
 }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffa500;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  	color: #ffa500;
  	background-color: transparent;
}
.navbar-default .navbar-toggle {
  	background: #d54ab6;
  	border-radius: 0px;
   	border: none;
   	margin-top: 20px;
   	margin-bottom: 30px;
}
.navbar-default .navbar-toggle .icon-bar {
    background: #fff;
    border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent 
}

.active {
	background: #333;
}

/* home section */
#home {
  background: url('https://www.tmhstz.com/wp-content/uploads/2019/11/pharmaceutical.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 700px;
  padding-top: 120px;
  padding-bottom: 100px;
}
#home h1,
#home h3 {
  line-height: 30px;
  font-size: 40px;
}

/* divider section */
.divider {
  color: #fff;
  text-align: center;
}
.divider .fa {
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 32px;
  width: 80px;
  height: 80px;
  line-height: 76px;
  text-transform: capitalize;
}
.divider h2 {
  padding-bottom: 4px;
}
.divider .divider-wrapper {
  padding: 40px 20px 40px 20px;
  position: relative;
  bottom: 40px;
  transition: all 0.4s ease-in;
}
.divider .divider-wrapper:hover {
  bottom: 60px;
  cursor: pointer;
}
.divider .divider-one {
  background: rgb(255, 128, 0);
}
.divider .divider-two {
  background: rgb(149, 202, 255);
}
.divider .divider-three {
  background: rgb(145, 145, 255);
}

/* about section */
#about-header {
  background: url('') no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  padding-top: 160px;
}
#about {
  padding-top: 60px;
}
#about .container {
  background:#7BCCB5;
}
#about .col-md-6 {
  padding: 0;
  margin: 0;
}
#about .about-des {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
}
#about .btn {
  margin-top: 30px;
}

/* team section */
#team {
  padding-top: 60px;
  padding-bottom: 80px;
  
}
#team h2 {
  padding-bottom: 30px;
  text-align: center;
}
#team h3 {
  padding-bottom: 10px;
}
#team .team-wrapper {
  border: 2px solid #7BCCB5;
  padding: 20px;
  
}
#team h4 {
  color: #d54ab6;
}
#team img {
  opacity: 0.8;
}
#team hr {
  border-color: #7BCCB5;
  margin-top: 80px;
  margin-bottom: 80px;
}
#team strong {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 10px;
}
#team .progress {
  border-radius: 0px;
  height: 4px;
}
